@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Shared.MainLayout)">
            <div class="container py-5">
                <div class="alert alert-warning">Page not found.</div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
