@using Microsoft.AspNetCore.Components.Routing
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(IncidentReportingSystem.UI.Shared.MainLayout)" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(IncidentReportingSystem.UI.Shared.MainLayout)">
            <div class="container py-5">
                <div class="alert alert-warning">Page not found.</div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
